button,
.button {
    background-color: $main_color;
    border: 1px solid $main_color;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    transition: $main_transition;
    display: inline-block;
    line-height: 1;
    font-family: $main_fonts;
    font-size: 16px;

    &:hover {
        background-color: $hover_color;
    }
}

.button-white {
    background-color: white;
    color: $main_color;
    border: 1px solid $main_color;
    text-decoration: none;

    &:hover{
        color: white;
        text-decoration: none;
    }
}