$main_color: #65B965;
$sub_color: #ffcb00e6;

@import "cart_table_in_page";
@import "to_card_btn";
@import "to_cart_widget";
@import "multi-search";

.cart_icon {
    fill: $main_color;
}

.cart_icon_loader {
    fill: none;
    stroke: $main_color;
    height: 100px;
}
